{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "all",
  "tailwindFunctions": ["clsx", "cva"],
  "overrides": [
    { "files": "*.astro", "options": { "parser": "astro" } }
  ]
}
